body {
  padding-left: 11em;
  font-family: Georgia, JoseFin Sans, Times New Roman; 
  color:#000000;
  background-color: #ffffff}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  p.italic {
    font-style: italic; 
  }
  color: ##e5e5e5;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 100px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h2 {Welcome}
  font-family: Georgia, Josefin Sans, Times New Roman; 

ul.navbar li { 
  background:#f1f1f1https://github.com/gwcau-yellow
 
  
ul.navbar a {
  text-decoration: none }

a:link {
