body {
  padding-left: 11em;
  font-family: Georgia, JoseFin Sans, Times New Roman; 
  color:#000000;
  background-color: #ffd1d1}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d3ab4e
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: inline-block;
  float: left;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 25px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h2 {
  font-family: Georgia;
  color: #6a80e2;
}
ul.navbar li { 
  background:#f1f1f1
 
  
ul.navbar a {
  text-decoration: none }

a:link {
  color: #4259f4
background-image: url(l.jpg);
background-repeat: no repeat;
width;600px;
height:200px;

}




